doctype html
html
	head
		title JSDraw Alpha
		link(rel="stylesheet",href="css/style.css")
	body
		.gui
			.header
				.toolbox
					button.toolbox-option.selected.fa.fa-hand-paper-o(
						data-option-param='tool',
						data-option-value='move',
						data-option-key='v'
					)
					button.toolbox-option.fa.fa-pencil(
						data-option-param='tool',
						data-option-value='brush',
						data-option-key='b'
					)
					button.toolbox-option.fa.fa-eraser(
						data-option-param='tool',
						data-option-value='eraser',
						data-option-key='e'
					)
					button.toolbox-option.fa.fa-fire-extinguisher(
						data-option-param='tool',
						data-option-value='bucket',
						data-option-key='g'
					)
				.logo
					i.fa.fa-paint-brush
					| JSDraw
				.presets
					input(type="range", step=1, min=0, max=100, value=1)#brush-size
					span#brush-size-value 1
					.color-preset
						input(type="color", value="#000000")#color-fg
						input(type="color", value="#ffffff")#color-bg
			.viewport
				.view
					.layers
					canvas.interaction

		//- lib
		//- script(src="/lib/jquery/dist/jquery.js")
		//- script(src="/lib/lodash/lodash.js")
		//- gui
		//- script(src="/js/gui/element.js")
		//- script(src="/js/gui/panel.js")
		//- script(src="/js/gui/toolbar.js")
		//- script(src="/js/jsd/view.js")
		//- app
		script(src="js/app.js")
