doctype html
html
	head
		title JSDraw Alpha
		//- link(rel="stylesheet",href="/lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		.gui
			.header
				.toolbox
					button.toolbox-option.selected.fa.fa-hand-paper-o(
						data-option-param='tool',
						data-option-value='hand'
					)
					button.toolbox-option.fa.fa-pencil(
						data-option-param='tool',
						data-option-value='pencil'
					)
					button.toolbox-option.fa.fa-eraser(
						data-option-param='tool',
						data-option-value='eraser'
					)
					button.toolbox-option.fa.fa-fire-extinguisher(
						data-option-param='tool',
						data-option-value='bucker'
					)
				.logo
					i.fa.fa-paint-brush
					| JSDraw
				.presets
					.preset-tool-hand
					.preset-tool-pencil
						input(type="range", step=1, min=0, max=100, value=1)#brush-size
						input(type="color", value="#000000")#color-fg
					.preset-tool-eraser
					.preset-tool-bucket
			.viewport
				.view

		//- lib
		//- script(src="/lib/jquery/dist/jquery.js")
		//- script(src="/lib/lodash/lodash.js")
		//- gui
		//- script(src="/js/gui/element.js")
		//- script(src="/js/gui/panel.js")
		//- script(src="/js/gui/toolbar.js")
		//- script(src="/js/jsd/view.js")
		//- app
		script(src="js/app.js")
