doctype html
html
	head
		title JSDraw Alpha
		link(rel="stylesheet",href="/lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		.gui
			.toolbar
				.logo 
					i.fa.fa-paint-brush
					| JSDraw
				//- a.panel-toggle.fa.fa-bars.toggled(
				//- 	data-toggle-ref=".left-panel",
				//- 	data-toggle-class="opened"
				//- )
				.left-bar
					| Mode: &nbsp;
					a.obj-mode-option.selected(
						data-option-param="mode",
						data-option-value="pencil"
					): i.fa.fa-pencil
					a.obj-mode-option(
						data-option-param="mode",
						data-option-value="eraser"
					): i.fa.fa-eraser
					a.obj-mode-option(
						data-option-param="mode",
						data-option-value="fill"
					): i.fa.fa-archive
					a.obj-mode-option(
						data-option-param="mode",
						data-option-value="text"
					): i.fa.fa-font
			.left-panel.opened
				.pane
					.pane-title Project Properties
					.pane-body
						.section
							.title Canvas
							ul
								li
									label Width
									input#canvas-width(value=640)
								li
									label Height
									input#canvas-height(value=480)
				.pane
					.pane-title Toolbox 
					.pane-body
						.section
							.title Colors
							ul
								li
									label FG
									input(type="color", value="#000000")#color-fg
								li
									label BG
									input(type="color", value="#ffffff")#color-bg
							.title Brush
							ul
								li
									label Size
									input(type="number", value=1)#brush-size

				.pane
					.pane-title Layers
					.pane-body
						.section
							//- .title Layers
							ul.layers
								li
									span Layer 1
									a.entity-edit-trigger(
										data-trigger-method="edit",
										data-trigger-id="1"
								)
							a.btn.new-mesh-trigger(
								data-trigger-method="newMesh"
							) New Layer
			.viewport
				canvas.canvas
				
		//- lib
		script(src="/lib/jquery/dist/jquery.js")
		script(src="/lib/lodash/lodash.js")
		//- gui
		script(src="/js/gui/element.js")
		script(src="/js/gui/panel.js")
		script(src="/js/gui/toolbar.js")
		script(src="/js/jsd/canvas.js")
		//- app
		script(src="js/main.js")
